<a href="https://colab.research.google.com/github/supreeth1311/AI-ML/blob/main/aiml_labsheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CREATING TUPLE WITH SINGLE ELEMENT

a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
if l[::-1]:
    print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
str1 = input("enter the  name:")
str2 = str1[::-1]
if str1 == str2:
    print("palindrome")
else:
    pass
    print(" its not palindrome")

enter the  name:sup
 its not palindrome

In [ ]:
l1 =[1,1,1,2,2,2,3,3,4,5,5,6,6,6,6,7]
l2 =(set(l1))

In [ ]:
a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
#creating tuple with single element
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
# creating tuple with integers
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
#create a dictionary
a={
    "name":"joy",
    "age":23,
    "education":"engineer"
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'engineer'}

In [ ]:
"sets"

'sets'

In [ ]:
set1={1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [ ]:
#duplicates not allowed
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
len(set)

7

In [ ]:
type(set)

set

In [ ]:
def add():
  a=5
  b=4
  sum=a+b
  return sum
add()
print(add())

9